#eclipse
.project 
.loadpath 
.buildpath 
.metadata 
.classpath 
*~ 
*.tmp 
*.bak 
*.launch
*.swp 
*.class 
*~.nib 
local.properties 
.settings/ 
.gradle/ 
.externalToolBuilders/ 
bin/ 
build/** 
tmp/**
tmp/**/*
